/* Custom css for react-tagsinput */
form.ui.form input[type='text'] {
  border: 1;
  outline: none;
}

/* Custom css for Quill Editor */
.question-edit .ql-editor {
  box-sizing: border-box;
  line-height: 1.42;
  height: 100%;
  outline: none;
  overflow-y: auto;
  padding: 12px 15px;
  tab-size: 4;
  -moz-tab-size: 4;
  text-align: left;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.question-edit .ql-container {
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  min-height: 128px;
  height: 100%;
  margin: 0px;
  position: relative;
}

.question-edit .ql-container.ql-snow {
  border: 1px solid #ccc;
}

.question-form {
  padding-top: 6em;
  padding-bottom: 12em;
}